@import 'mixins/clear.less';
// 最外层的包裹元素
#wrap{
    //头部
    #header{
        .headTop{
            background: #eaeaea;
            height: 30px;
            .hradTopMain{
                width: 1200px;
                margin: 0 auto;
                background: #4b2222;
                line-height: 30px;
                .clearfix();
                .left{
                    h5{
                        float: left;
                        margin-right: 5px;
                    }
                    p{
                        float: left;
                        a{
                            &:first-child{
                                border-right: 1px dashed #b3aeae;
                            }
                        }
                    }
                }
                // 右侧
                .right{
                    float: right;
                    nav{
                        font-size: 0px;
                        a{
                            margin-right: 10px;
                            padding-right: 10px;
                            font-size: 12px;
                            border-right: 1px solid #b3aeae;
                            &:last-child{
                                border: none;
                                margin-right: 0px;
                                padding: 0px;
                            }
                        }
                    }
                }
            }
        }
       
    }
    // 下面部分
    .headBottom{
        // 版心元素
        .headBottomMain{
            width: 1200px;
            margin: 0 auto;
            // .clearfix();
            // logo
            .logo{
                float: left;
                // a{
                //     img{
                //         width: 175px;
                //         height: 56px;
                //         margin: 25px 45px;
                //     }
                // }
            }
        }
    }
}